* {
    margin: 0;
    padding: 0;
}

a, button /* &c... */ {
    all: unset;
}



/* button {
    background: none;
    border: none;
    padding: 0;
} */

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    /* display: flex; */
}



.point {
    margin-top: 11px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.point_active {
    margin-top: 11px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #F25822;
}

.title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.buttons {

}

.button {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    padding: 15px 36px 16px 35px;
    border-radius: 50px
}
.button_active {
    background: #F25822;
    box-shadow: 4px 4px 8px 0px #F2582233;
    color: #FFF;
}

.footer{
    display: flex;
    width: 100%;
}